<h1>Lists</h1>
<div class="grid-container">
  <div class="row justify-content-between">
    <% @lists.each do |list| %>
      <%= render 'components/card', list: list %>
    <% end %>
  </div>
</div>
<%= link_to "New list", new_list_path %>
